body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	line-height: 1.6;
	color: #ffffff;
}

h1{
	padding: 20px;
	font-size: 12px;
	font-weight: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

		
.intro1 {
	width: 100%;
	height: 100%;
	background: url("../images/cat.png") center top no-repeat #1a79f3 ;
	-webkit-background-size: conint;
	background-size: auto;
	padding-bottom: 160px;
	
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


.block5 {
position: absolute;
left: 50%;
top: 100px;
margin-left: -400px;
background: #ffffff;
border-radius: 10px;
width: 800px;
height: 728px;
}

 p {    
font-size: 15px;   
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.14;
letter-spacing: normal; 
color: #131313;
margin-top: -25px;
  }
   
.logo {
font-size: 24px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
color: #000000;
padding-left: 50px;
position: absolute;
top: 13%;
}

nav ul {
font-size: 17px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 4.6;
letter-spacing: normal;
color: #332a7c;
padding-left: 100px;
margin-top: 170px;
list-style:none;

}

li.void:before {

}

li.void2:before {
  
}

li.void3:before {
  
}

li.void4:before {

}

li.void5:before {
 
}

.void {
border: 1px solid #dee3eb;
padding: 0 30px;
width: 720px; 
height: 110px;
border-radius: 10px;
margin-left: -50px;
margin-bottom: 20px;
}

.void2 {
border: 1px solid #dee3eb;
padding: 0 30px;
width: 720px; 
height: 110px;
border-radius: 10px;
margin-left: -50px;
margin-bottom: 20px;
}

.void4 {
border: 1px solid #dee3eb;
padding: 0 30px;
width: 720px; 
height: 110px;
border-radius: 10px;
margin-left: -50px;
margin-bottom: 20px;
}

p.text {
padding-left: 50px;
position: absolute;
top: 23.5%;	
}

.logo2 {
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
color: #332a7c;
padding-left: 50px;
position: absolute;
top: 4%;	

}

.menu a {
position: relative;
left: 6.3%;
top: 42.5px;
font-size: 15px;
}